/consolidation/compressionMessages/*
/outputs/data
/outputs/abstractbeam
/outputs/all_inventions
/outputs/baseline
/outputs/figures
/outputs/testing/logs
outputs/testing/results.json
outputs/testing/model-best-valid.ckpt
neurips/abstractbeam_no_refine
neurips/abstractbeam/data
neurips/abstractbeam/data2
neurips/abstractbeam/models
neurips/abstractbeam/models2
neurips/abstractbeam/models5
neurips/abstractbeam/results
neurips/abstractbeam/ogdomain/models5
neurips/abstractbeam/ogdomain/models/logs/*
neurips/abstractbeam/ogdomain/models2/logs/*
neurips/abstractbeam/ogdomain/results/*
neurips/abstractbeam/ogdomain/results2/*
neurips/bwUNI
docs/config_parameters.md
docs/ablation.ipynb
docs/checkpoint.ipynb
docs/data_check.ipynb
docs/dfmerged.csv
docs/stitch
playground.ipynb
plotting.ipynb
double_blind.py
neurips/lambdabeam/data
neurips/lambdabeam/models
neurips/lambdabeam/results
neurips/plots
filter_training_data.py
crossbeam/experiment/dreamcoder
checkpoints.ipynb
abstraction_debugging.ipynb
error.txt
.idea
.git


/outputs/all_inventions/
/outputs/abstractbeam/
/outputs/figures/
/outputs/baseline/
/outputs/testing/logs/
/outputs/testing/model-best-valid.ckpt
/outputs/testing/results.json

